/* * {
  border: solid;
  border-color: red;
  border-width: 2px;
} */

/* body > div {
  border: solid;
  border-color: blue;
  border-width: 2px;
} */

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.one {
  /* height: 250px; BORRO ESTO PORQUE SINO ME HACE OVERFLOW CUANDO ACHICO LA VENTANA
  width: 75vw; */
  /* margin-left: auto;
  margin-right: auto; */
  color: white;
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  width: 450px;
  margin-right: auto;
}

ul li,
a {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.header {
  display: flex;
  box-sizing: content-box;
  overflow: auto;
  justify-content: center;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.links {
  display: flex;
  width: 450px;
  /* margin-left: auto; */
}

.links ul {
  display: flex;
  margin-left: auto;
}

.links li {
  display: flex;
  padding: 0px 15px;
}

/* .image-big {
  max-width: 300px;
}

.image-big img {
  max-height: 20vh;
} */

.main {
  display: flex;
  box-sizing: content-box;
  overflow: auto;
  justify-content: center;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.awesome,
.image-big {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: auto;
  overflow: auto;
  border-radius: 8px;
  /* width: 37vw; */
  /* box-sizing: content-box; */
}

.awesome > .title {
  font-size: 48px;
  font-weight: bold;
}

.secondary-text {
  font-size: 18px;
}

button {
  background-color: #3882f6;
  display: flex;
  justify-content: center;
  margin-right: auto;
  padding: 5px 18px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.two {
  display: flex;
  flex-direction: column;
  /* box-sizing: content-box; */
  overflow: auto;
  justify-content: center;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.random {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.squares {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.squares > div {
  display: flex;

  height: 220px;
  width: 220px;
}

.img-small {
  height: 150px;
  width: auto;
  border-radius: 8px;
}

.square {
  display: flex;
  flex-direction: column;
}

.text-small {
  height: 70px;
  overflow: auto;
  font-size: 14px;
  padding: 5px;
}

.three {
  /* font-family: italic; */
  /* font-weight: 100; */
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #e5e7eb;
}

.three blockquote {
  text-align: right;
  font-size: 32px;
}

.three cite {
  text-align: center;
  font-size: 36px;
}

.four {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  background-color: #3882f6;
  padding: 20px 40px;
  border-radius: 10px;
  color: white;
}

.call {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.call-action {
  font-size: 20px;
  font-weight: bold;
}

.button {
  display: flex;
  flex: 1;
  align-items: center;
}

.button > button {
  margin: auto;
  border-color: white;
}

.footer {
  width: 75vw;
  padding: 25px 0 25px;
  background-color: #1f2937;
  color: white;
  margin: auto;
  text-align: center;
}
