* {
  border: solid;
  border-color: red;
  border-width: 2px;
}

body > div {
  border: solid;
  border-color: blue;
  border-width: 2px;
}

body {
  display: flex;
  flex-direction: column;
}

.one {
  height: 250px;
}

ul li,
a {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.header {
  display: flex;
}

.links {
  display: flex;
}

.links ul {
  display: flex;
}
